@model Lekkerbek.Web.Models.Order

@{
    List<OrderLine> listOfTheOrder = ViewBag.listOfTheOrder;
    ViewData["Title"] = "Details";

}

<h1>To Pay</h1>

<div>
    <hr/>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.FName)
            @Html.DisplayFor(model => model.Customer.LName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlot.StartTimeSlot)
        </dd>
    </dl>
    

</div>

<div class="btn btn-info mt-3">
    <a asp-controller="OrdersCashier" asp-action="EditCustomer" asp-route-id="@Model.CustomerId" class="link-light text-decoration-none fw-bolder">Edit Customer</a>

</div>
<div class="mt-3">

    <input type="checkbox" id="btwCheck">
    <label for="btwCheck"> Without BTW </label>
</div>

<div>
<table class="table" id="BTW" @*style="position:absolute;"*@>
    <thead>
        <tr>
            <th>
                Dish Name
            </th>
            <th>
                Dish Price
            </th>
            <th>
                BTW
            </th>
            <th>
                Amount
            </th>
            <th>
                Sub Total
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listOfTheOrder)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>item.MenuItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.MenuItem.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.MenuItem.BtwNumber) %
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DishAmount)
                </td>
                <td>
                    @(Math.Round(item.MenuItem.Price * item.DishAmount *(1+(item.MenuItem.BtwNumber/100)), 2))
                </td>
                <td></td>
            </tr>
        }
        @{
            if (ViewBag.Korting)
            {
                                        <form asp-action="Bill" asp-route-id="@Model?.OrderID">

                                        <tr>

                                            <td>
                                                Discount:
                                            </td>
                                            <td>
                                            </td>      
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <input class="form-control" min="0" max="80" type="number" value="@ViewBag.Discount" id="discountField" asp-for="Discount" />
                                            </td>
                                            <td>
                                                <input type="submit" value="Add Discount" class="btn btn-primary mt-3" />
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                Total Price:
                                            </td>
                                            <td>

                                            </td>
                                            <td>
                                            </td>

                                            
                                            <td>
                                            </td>
                                            <td>

                                                <input class="form-control" value="@ViewBag.totalPrice" id="discountField" asp-for="Customer" readonly />
                                            </td>
                                            <td></td>
                                        </tr>

                                        </form>
            }
            else
            {
                                        <tr>

                                            <td>
                                                Total Price:
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>

                            <input class="form-control" value="@ViewBag.totalPriceBTW" id="discountField" asp-for="Customer" readonly />
                                            </td>
                                            <td></td>
                                        </tr>
            
            }

        }
        
        
            
    </tbody>
</table>
<table class="table" id="noBTW"@* style="visibility:hidden; position:absolute;"*@ hidden>
    <thead>
        <tr>
            <th>
                Dish Name
            </th>
            <th>
                Dish Price
            </th>
            <th>
                Amount
            </th>
            <th>
                Sub Total
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listOfTheOrder)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>item.MenuItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.MenuItem.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DishAmount)
                </td>
                <td>
                    @(item.MenuItem.Price * item.DishAmount)
                </td>
                <td></td>
            </tr>
        }
        @{
            if (ViewBag.Korting)
            {
                                        <form asp-action="Bill" asp-route-id="@Model?.OrderID">

                                        <tr>

                                            <td>
                                                Discount:
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                                <input class="form-control" min="0" max="80" type="number" value="@ViewBag.Discount" id="discountField" asp-for="Discount" />
                                            </td>
                                            <td>
                                                <input type="submit" value="Add Discount" class="btn btn-primary mt-3" />
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                Total Price:
                                            </td>
                                            <td>
                                            </td>


                                            <td>
                                            </td>
                                            <td>

                            <input class="form-control" asp-for="Customer" value="@ViewBag.totalPrice" id="discountField" readonly />
                                            </td>
                                            <td></td>
                                        </tr>

                                        </form>
            }
            else
            {
                                        <tr>

                                            <td>
                                                Total Price:
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>

                            <input class="form-control" asp-for="Customer" value="@ViewBag.totalPrice" id="discountField" readonly />
                                            </td>
                                            <td></td>
                                        </tr>

            }

        }



    </tbody>
</table>

    <p id="messagePaid" class="fw-bolder text-danger"></p>

<form asp-action="Pay" asp-route-id="@Model?.OrderID">
    <input id="buttonpay" type="submit" value="Pay" class="btn btn-primary mt-3" />
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    document.getElementById("buttonpay").addEventListener('click', function () {
        console.log("clicked");
        
        var countDown = 5;
        var interval = setInterval(function () {
            countDown--;
            if (countDown === 0) {
                clearInterval(interval);
            } else {
                document.getElementById("messagePaid").textContent = "Payment process completed. You are directed to the order list... " + countDown;
            }
        }, 1000);
    });

    document.getElementById("btwCheck").addEventListener('change', function () {
            if (this.checked) {
                console.log("Checkbox is checked..");
            document.getElementById("BTW").hidden = true;
            document.getElementById("noBTW").hidden = false;

            } else {
                console.log("Checkbox is not checked..");
            document.getElementById("BTW").hidden = false;
            document.getElementById("noBTW").hidden = true;
            }
        });
</script>
