@model IEnumerable<Lekkerbek.Web.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutCashier";
}

<h1>Index</h1>

<p>
    <a asp-action="SelectCustomer">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Finished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlot.StartTimeSlot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Finished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FName)
                @Html.DisplayFor(modelItem => item.Customer.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSlot.StartTimeSlot)
            </td>
            <td>
                
                    <a asp-action="Bill" asp-route-id="@item.OrderID">Pay</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>
