@using Kendo.Mvc.UI;
@using Lekkerbek.Web.Models;
@model IEnumerable<Lekkerbek.Web.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Orders</h1>

@(Html.Kendo().Grid<Order>()
    .Name("grid")
    .Columns(columns =>
    {
        //columns.Bound(p => p.OrderId);
        columns.Bound(p => p.Finished);
        //columns.Bound(p => p.CustomerId);
        columns.Bound(p => p.Discount);
        //columns.Bound(p => p.TimeSlotId);
        columns.Bound(p => p.TimeSlot)
                                .Title("Edit").ClientTemplate("<a href='/Orders/Edit?id=#=OrderId#'>Edit</a>");
        //columns.Bound(p => p.TemporaryCart)
        //
        /*columns.Bound(p => p.CustomerId)
        .Title("Add").ClientTemplate("<a href='/Customers/Create?id=#=CustomerId#'>Add</a>");*/


        @*columns.Command(command => {command.Destroy(); }).Width(200);*@

    })
    .ToolBar(toolbar => toolbar.Create())
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Events(events => events.Error("error_handler"))
        @*.Model(model => model.Id(p => p.CustomerId))*@
        .Create(update => update.Action("EditingPopup_Create", "Orders"))
        .Read(read => read.Action("EditingPopup_Read", "Customers"))
        .Destroy(update => update.Action("EditingPopup_Destroy", "Orders"))
    )
)


<p>
    <a asp-action="SelectCustomer">New Order</a>
</p>
<p class="text-danger">@TempData["TimesPast"]</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Finished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlot.StartTimeSlot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Finished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FName)
                    @Html.DisplayFor(modelItem => item.Customer.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSlot.StartTimeSlot)
                </td>
                <td>
                    <a asp-action="EditOrder" asp-route-id="@item.OrderID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderID">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>
