@model Lekkerbek.Web.Models.MenuItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gerecht</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sort)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BtwNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BtwNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MenuItemId">Edit</a> |
    <a asp-action="Index">Ga naar de lijst</a>
</div>
