@model IEnumerable<Lekkerbek.Web.Models.TimeSlot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTimeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTimeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chef1Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chef2Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTimeSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTimeSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chef1Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chef2Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
