@model Lekkerbek.Web.Models.Order

@{
    List<OrderLine> listOfTheOrder = ViewBag.listOfTheOrder;
    ViewData["Title"] = "Delete";
}

<h1>Annuleren</h1>

<h3>Bent u zeker dat u deze bestelling wilt annuleren?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.FName)
            @Html.DisplayFor(model => model.Customer.LName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlot.StartTimeSlot)
        </dd>
    </dl>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    Menu item
                </th>
                <th>
                    Aantal
                </th>
                <th>
                    Extra Wensen
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listOfTheOrder)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenuItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DishAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExtraDetails)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p class="text-danger">@TempData["TimesPast"]</p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderID" />
        <input type="submit" value="Annuleer bestelling" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar de lijst</a>
    </form>
</div>
