@model Lekkerbek.Web.Models.Order

@{
    ViewData["Title"] = "Edit";
    List<OrderLine> listOfTheOrder = ViewBag.listOfTheOrder;
}

<h1>Wijzigen</h1>

<h4>Bestelling</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderID" />
            <input type="hidden" asp-for="CustomerId" />

            <div class="form-group">

                <label asp-for="TimeSlotID" class="control-label">Datum</label>
                <input id="date" value="@TempData["SelectDate"]" asp-for="TimeSlotID" type="date" class="form-control" />



            </div>
            
            <div class="form-group">

                <label asp-for="TimeSlotID" class="control-label">Tijdslot</label> <br>
                @Html.DropDownList("TimeSlotsSelectList", (IEnumerable<SelectListItem>)ViewBag.TimeSlotsSelectList, new{@id="time"})
                <span asp-validation-for="TimeSlotID" class="text-danger"></span>


            </div><p id="chefError" class="text-danger"></p>
            <div class="form-group form-check invisible">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Finished" /> @Html.DisplayNameFor(model => model.Finished)
                </label>
            </div>
<a asp-controller="Orderlines" asp-action="Create" asp-route-id="@Model.OrderID">Menu item toevoegen</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Menu item
            </th>
            <th>
                Aantal
            </th>
            <th>
                Extra Wensen
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in listOfTheOrder)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuItem.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DishAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtraDetails)
                </td>
                <td>
                                <a asp-action="EditOrderLine" asp-route-id="@item.OrderLineID">Wijzigen</a>
                                <a asp-controller="Orderlines" asp-action="Delete" asp-route-id="@item.OrderLineID">Verwijderen</a>

                </td>
            </tr>
        }
    </tbody>
</table>
            <div class="form-group">
                <input type="submit" value="Opslaan" id="saveButton" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Terug naar het overzicht</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(function () {
        $("#date").change(function () {
            $.ajax(
                {

                    // Hier kan je kiezen tussen GET, POST, PUT, DELETE....
                    // Elk van deze keywords heeft een andere nut,
                    // zie de les frontend.
                    type: "POST",
                    // Hier geven we de action naam en controler naam mee.
                    url: '@Url.Action("LookUpChefs", "OrderModule")',
                    // Hier gaan we data meegeven in een JSON formaat.
                    data: { "date": $("#date").val() },
                    dataType: "json",
                    // Hier gaan we jQuery/javascript code schrijven indien onze
                    // request successvol is.
                    success: function (response) {
                        console.log(response);
                        // Hier gaan we de span met id "statusSpan" ophalen
                        // en de text vervangen met de status.
                        // Status krijgen we van de action Message mee.
                            if (response.timeSlots == null) {
                                $("#chefError").html(response.orderError);
                                $("#time").empty();
                                document.getElementById("saveButton").disabled = true;
                            }
                            else if (response.timeSlots.length == 0) {
                            //Javascript shows this always, idk why, it also wont reset in the else, in other words the pop up if no chefs are availible is broken
                            $("#chefError").html("Er zijn geen chefs meer vrij.");
                            console.log("test");
                        }
                        else {
                            console.log(response);
                            $("#chefError").html("");
                            let s;
                            for (var i = 0; i < response.timeSlots.length; i++) {
                                s += '<option value="' + response.timeSlots[i].Value + '">' + response.timeSlots[i].Text + '</option>';
                            }

                            $("#time").html(s);
                        }

                    },
                    error: function (response) {

                        // Indien onze request faalt, kunnen we hier een mooie
                        // foutmelding tonen.
                        // In ons geval gaan we een alert tonen op het scherm
                        // (in praktijk moet je dit beter afhandelen!).

                    }
                });
        });
    })
    
</script>