@model Lekkerbek.Web.Models.OrderLine

@{
    ViewData["Title"] = "Delete";
}

<h1>Verwijderen</h1>

<h3>Ben je zeker om dat te verwijderen?</h3>
<div>
    <h4>OrderLijn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order) ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MenuItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MenuItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DishAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DishAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraDetails)
        </dd>

   
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderLineID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    </form>

    @if (User.IsInRole("Administrator"))
    {
        <div>
            <a asp-controller="Orders" asp-action="EditOrder" asp-route-id="@Model.OrderID">Terug naar Bestellen</a>
        </div>
    }
    @if (User.IsInRole("Customer"))
    {
        <div>
            <a asp-controller="OrderModule" asp-action="EditOrder" asp-route-id="@Model.OrderID">Terug naar Bestellen</a>
        </div>
    }
</div>
