@model Lekkerbek.Web.Models.OrderLine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderLine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DishAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DishAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dish.DishId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlot.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderLineID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
